@charset "UTF-8";
/********************/
/* Box sizing rules */
/* Box sizingの定義 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* デフォルトのpaddingを削除 */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
/* デフォルトのmarginを削除 */
body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
/* bodyのデフォルトを定義 */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
/* class属性を持つul、(ol要素のリストスタイルを削除,
ol[class]) */
ul[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
/* classを持たない要素はデフォルトのスタイルを取得 */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* img要素の扱いを簡単にする */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
/* article要素内の要素に自然な流れとリズムを定義 */
/* Inherit fonts for inputs and buttons */
/* inputやbuttonなどのフォントは継承を定義 */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
/* 見たくない人用に、すべてのアニメーションとトランジションを削除 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
}

@media screen and (min-width: 1025px) {
  .l-contents {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.l-footer {
  color: #FFFFFF;
  font-family: "M PLUS 1p", sans-serif;
  background: url(../../../img/footer-sp.png) no-repeat center center;
  background-size: cover;
  min-width: 375px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .l-footer {
    background-image: url(../../../img/footer-tab.png);
  }
}
@media screen and (min-width: 1025px) {
  .l-footer {
    background-image: url(../../../img/footer-pc.png);
    grid-row: 2/3;
    grid-column: 1/3;
  }
}
.l-footer__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1.45;
}
.l-footer__ul a {
  text-decoration: none;
  color: #FFFFFF;
}
.l-footer__copy {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4285714286;
}

.l-header {
  display: flex;
  width: 100%;
  height: 217px;
  padding: 40px 0;
  align-items: center;
  background-color: #FFF7EF;
  position: relative;
  grid-column: 1/2;
}
@media screen and (min-width: 1025px) {
  .l-header {
    text-align: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.l-header__inner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .l-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.l-header__title {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #707070;
  margin-bottom: 38px;
  font-size: 4rem;
  line-height: 1.325;
}
@media screen and (min-width: 1025px) {
  .l-header__title {
    font-size: 3.3vw;
    margin-bottom: 0;
    margin-left: 65px;
  }
}
.l-header__menu {
  position: absolute;
  top: 14px;
  right: 16px;
  border: none;
  outline: none;
  background: transparent;
  color: #707070;
  cursor: pointer;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 1.3;
}
@media screen and (min-width: 600px) {
  .l-header__menu {
    font-size: 3.4rem;
    line-height: 1.3235294118;
    top: 18px;
    right: 26px;
  }
}
@media screen and (min-width: 1025px) {
  .l-header__menu {
    display: none;
  }
}
.l-header__menu.active {
  display: none;
}

.l-main__wrapper {
  width: 100%;
  background-color: #FFFDFA;
}
@media screen and (min-width: 1025px) {
  .l-main__wrapper {
    grid-column: 1/2;
  }
}

.l-sidebar {
  background-color: #F2EDE9;
  color: #707070;
}
@media screen and (min-width: 1025px) {
  .l-sidebar {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

.c-burger-normal {
  display: block;
  margin: 0 auto 30px;
  width: 79.7%;
}
@media screen and (min-width: 600px) {
  .c-burger-normal {
    margin: 0 auto 241px;
  }
}
@media screen and (min-width: 1025px) {
  .c-burger-normal {
    margin: 0 auto 3.125vw;
  }
}

.c-burger-wide {
  width: 100%;
  margin-bottom: 30px;
  object-fit: cover;
}
@media screen and (min-width: 600px) {
  .c-burger-wide {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .c-burger-wide {
    margin-bottom: 3.125vw;
  }
}

.c-button-single {
  width: 100%;
  min-height: 81px;
  margin-bottom: 30px;
  background: linear-gradient(#f2ede9, #ded8d3);
  border-radius: 20px;
  border: 1px solid #707070;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  color: #3C2A10;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 600px) {
  .c-button-single {
    width: 429px;
    height: 104px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .c-button-single {
    font-size: 0.83vw;
  }
}

.c-button {
  position: absolute;
  top: 25px;
  right: 17px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .c-button {
    right: 25px;
  }
}
@media screen and (min-width: 1025px) {
  .c-button {
    display: none;
  }
}
.c-button span {
  display: block;
  width: 100%;
  height: 6px;
  background-color: #707070;
}
.c-button span::nth-of-type(1) {
  transform: translateY(3px) rotate(45deg);
}
.c-button span::nth-of-type(2) {
  transform: translateY(-3px) rotate(-45deg);
}

.c-close {
  z-index: 100;
  right: 5%;
  top: 5%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 1025px) {
  .c-close {
    display: none;
  }
}
.c-close--line1 {
  display: inline-block;
  font-size: 0;
  background-color: #707070;
  width: 40px;
  height: 5px;
  transform: translateY(2px) rotate(-45deg);
}
.c-close--line2 {
  display: inline-block;
  font-size: 0;
  background-color: #707070;
  width: 40px;
  height: 5px;
  transform: translateY(-22px) rotate(45deg);
}

.c-container {
  padding: 20px;
}
@media screen and (min-width: 600px) {
  .c-container {
    padding: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .c-container {
    padding: 80px;
  }
}
.c-container--more {
  padding: 30px 20px 20px 20px;
}
@media screen and (min-width: 600px) {
  .c-container--more {
    padding: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .c-container--more {
    padding: 3.125vw 5.2vw 5.2vw 5.2vw;
  }
}

.c-cover {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0);
}
.c-cover.active {
  display: block;
  z-index: 9998;
  visibility: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1025px) {
  .c-grid {
    display: grid;
    grid-template-columns: 1fr 19%;
    grid-template-rows: 1fr 150px;
  }
}

.c-partition {
  width: 1px;
  height: 20px;
  background-color: #FFFFFF;
  display: block;
  margin: 18px;
}

.c-text-bold {
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  color: #3C2A10;
  margin-bottom: 157px;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 600px) {
  .c-text-bold {
    margin-bottom: 168px;
  }
}
@media screen and (min-width: 1025px) {
  .c-text-bold {
    font-size: 0.83vw;
    margin-bottom: 13.18vw;
  }
}

.p-access {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.p-access__inner {
  width: 100%;
  height: 100%;
  background: url(../../../img/map-sp.png) center no-repeat;
  background-size: cover;
}
@media screen and (min-width: 600px) {
  .p-access__inner {
    background: url(../../../img/map-tab.png);
  }
}
@media screen and (min-width: 1025px) {
  .p-access__inner {
    background: url(../../../img/map-pc.png);
  }
}
.p-access__contents {
  position: relative;
  color: #FFFFFF;
  z-index: 1;
}
@media screen and (min-width: 1025px) {
  .p-access__contents {
    width: 61%;
  }
}
.p-access__contents::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.29);
  z-index: -1;
}
@media screen and (min-width: 600px) {
  .p-access__contents::before {
    height: 100%;
  }
}
.p-access__title {
  padding-top: 40px;
  padding-left: 42px;
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
@media screen and (min-width: 1025px) {
  .p-access__title {
    font-size: 2.3vw;
  }
}
.p-access__title::after {
  content: "";
  display: block;
  width: 75px;
  height: 2px;
  margin-top: 20px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 1025px) {
  .p-access__title::after {
    margin-top: 55.5px;
  }
}
.p-access__text {
  padding: 40px 40px 51px 40px;
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.4rem;
  line-height: 2.3571428571;
}
@media screen and (min-width: 1025px) {
  .p-access__text {
    font-size: 1vw;
  }
}

.p-archive-desc {
  color: #3C2A10;
}
.p-archive-desc__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 2.8rem;
  line-height: 1.5;
}
@media screen and (min-width: 600px) {
  .p-archive-desc__title {
    margin-bottom: 25px;
    font-size: 3.6rem;
    line-height: 1.5;
  }
}
.p-archive-desc__text {
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 600px) {
  .p-archive-desc__text {
    margin-bottom: 37px;
  }
}
@media screen and (min-width: 1025px) {
  .p-archive-desc__text {
    margin-bottom: 70px;
  }
}

.p-archiveKv {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 375px;
  height: 283px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  background-image: url("../../../img/kv-archive-sp.png");
}
@media screen and (min-width: 600px) {
  .p-archiveKv {
    align-items: center;
    flex-direction: inherit;
    background-image: url("../../../img/kv-archive-tab.png");
  }
}
@media screen and (min-width: 1025px) {
  .p-archiveKv {
    height: 239px;
    background-image: url("../../../img/kv-archive-pc.png");
  }
}
.p-archiveKv__title {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 1.3333333333;
  padding-top: 102px;
  padding-left: 37px;
}
@media screen and (min-width: 600px) {
  .p-archiveKv__title {
    font-size: 6rem;
    line-height: 1.3166666667;
    padding: 0 0 0 86px;
    top: 50%;
  }
}
.p-archiveKv__subtitle {
  color: #FFFFFF;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.4375;
  padding-left: 37px;
}
@media screen and (min-width: 600px) {
  .p-archiveKv__subtitle {
    top: 137px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .p-archiveKv__subtitle {
    top: 113px;
  }
}

.p-blockquote {
  background-color: #F5F5F5;
  padding: 30px 16px 30px 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-blockquote {
    padding: 50px 56px 60px 50px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .p-blockquote {
    padding: 2.6vw 3.125vw 2.6vw 2.6vw;
    margin-bottom: 3.125vw;
  }
}
.p-blockquote__text {
  font-family: "M PLUS 1p", sans-serif;
  color: #3C2A10;
  margin-bottom: 30px;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 1025px) {
  .p-blockquote__text {
    margin-bottom: 3.125vw;
    font-size: 0.83vw;
  }
}
.p-blockquote__cite {
  font-family: "M PLUS 1p", sans-serif;
  color: #3C2A10;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 1025px) {
  .p-blockquote__cite {
    font-size: 0.83vw;
  }
}
.p-blockquote__cite > a {
  color: #4A6C9B;
  text-decoration: underline;
}

.p-card {
  margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
  .p-card {
    display: flex;
  }
}
.p-card__image-sp {
  object-fit: cover;
  height: auto;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .p-card__image-sp {
    display: none;
  }
}
.p-card__image-tab {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-card__image-tab {
    display: block;
    object-fit: cover;
    height: auto;
    width: 50%;
  }
}
.p-card__desc {
  background-color: #3C2B1C;
  color: #FFFFFF;
  font-family: "M PLUS 1p", sans-serif;
  min-height: 354px;
  padding: 31.5px 73px 43.7px 17px;
}
@media screen and (min-width: 600px) {
  .p-card__desc {
    width: 50%;
    height: auto;
  }
}
@media screen and (min-width: 1025px) {
  .p-card__desc {
    padding: 53px 34px 60px 63px;
    height: auto;
  }
}
.p-card__desc--title {
  font-weight: bold;
  margin-bottom: 24px;
  font-size: 2rem;
  line-height: 1.45;
}
@media screen and (min-width: 1025px) {
  .p-card__desc--title {
    margin-bottom: 47px;
    font-size: 1.875vw;
  }
}
.p-card__desc--subtitle {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 1025px) {
  .p-card__desc--subtitle {
    margin-bottom: 17px;
    font-size: 1.25vw;
  }
}
.p-card__desc--text {
  margin-bottom: 40px;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 600px) {
  .p-card__desc--text {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1025px) {
  .p-card__desc--text {
    margin-bottom: 60px;
    font-size: 0.83vw;
  }
}
.p-card__desc--button {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #707070;
  background-color: #FFFFFF;
  font-weight: bold;
  width: 163.16px;
  height: 42.47px;
  border-radius: 50px;
  font-size: 1.6rem;
  line-height: 1.0625;
}
@media screen and (min-width: 1025px) {
  .p-card__desc--button {
    width: 292px;
    height: 76px;
  }
}

.p-code {
  background-color: #F5F5F5;
  color: #3C2A10;
  padding: 50px;
  justify-content: left;
  margin-bottom: 30px;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 600px) {
  .p-code {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .p-code {
    margin-bottom: 50px;
    font-size: 0.83vw;
  }
}

.p-columnUnit {
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-columnUnit {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .p-columnUnit {
    margin-bottom: 3.125vw;
  }
}
.p-columnUnit .p-column {
  display: flex;
  margin-top: 30px;
}
@media screen and (min-width: 600px) {
  .p-columnUnit .p-column {
    margin-top: 117px;
  }
}
@media screen and (min-width: 1025px) {
  .p-columnUnit .p-column {
    margin-top: 3.125vw;
  }
}
.p-columnUnit .p-column:first-child {
  margin-top: 0;
}
.p-columnUnit .p-column__imgWrap {
  width: 42.7%;
}
.p-columnUnit .p-column__imgWrap img {
  width: 100%;
  vertical-align: bottom;
}
.p-columnUnit .p-column__body {
  flex: 1;
  margin: 0 0 0 10px;
}
@media screen and (min-width: 600px) {
  .p-columnUnit .p-column__body {
    margin: 0 0 0 21px;
  }
}
@media screen and (min-width: 1025px) {
  .p-columnUnit .p-column__body {
    margin: 0 0 0 2.083vw;
  }
}
.p-columnUnit .p-column__text {
  min-height: 89px;
  min-width: 144px;
  font-size: 1.6rem;
  line-height: 1.4375;
  font-family: "M PLUS 1p", sans-serif;
  color: #3C2A10;
}
@media screen and (min-width: 1025px) {
  .p-columnUnit .p-column__text {
    font-size: 0.83vw;
  }
}

.p-column--reverse {
  flex-direction: row-reverse;
}
.p-column--reverse .p-column__body {
  margin: 0 10px 0 0;
}
@media screen and (min-width: 600px) {
  .p-column--reverse .p-column__body {
    margin: 0 21px 0 0;
  }
}
@media screen and (min-width: 1025px) {
  .p-column--reverse .p-column__body {
    margin: 0 2.083vw 0 0;
  }
}

.p-form {
  display: inline-block;
  /* なくても大丈夫だけど、念の為 */
  position: relative;
  /* 基準値とする */
}
@media screen and (min-width: 1025px) {
  .p-form {
    position: absolute;
    top: 86px;
    right: 31px;
  }
}
.p-form::before {
  content: "";
  /* 疑似要素に必須 */
  width: 24px;
  /* アイコンの横幅 */
  height: 24px;
  /* アイコンの高さ */
  background: url(../../img/search-icon.png) no-repeat center center/auto 100%;
  /* 背景にアイコン画像を配置 */
  display: inline-block;
  /* 高さを持たせるためにインラインブロック要素にする */
  position: absolute;
  /* 相対位置に指定 */
  left: 16px;
  /* アイコンの位置 */
  transform: translateY(-50%);
  top: 50%;
}
.p-form__input {
  width: 230px;
  height: 46px;
  padding: 3px 0 3px 3em;
  margin-right: 13px;
  border: 1px solid #707070;
  border-radius: 10px;
}
@media screen and (min-width: 600px) {
  .p-form__input {
    width: 396px;
  }
}
@media screen and (min-width: 1025px) {
  .p-form__input {
    width: 20.6vw;
  }
}
.p-form__submit {
  width: 78px;
  height: 46px;
  padding: 12px 23px;
  background: linear-gradient(to bottom, #F2EDE9, #ded8d3);
  border: 1px solid #707070;
  border-radius: 10px;
  color: #707070;
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 600px) {
  .p-form__submit {
    width: 136px;
  }
}
@media screen and (min-width: 1025px) {
  .p-form__submit {
    width: 7vw;
  }
}

.p-imgList {
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-imgList {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1025px) {
  .p-imgList {
    margin-bottom: 3.125vw;
  }
}
.p-imgList li {
  width: 100%;
  margin: 20px 0 0 0;
}
@media screen and (min-width: 600px) {
  .p-imgList li {
    width: calc((100% - 20px) / 2);
    margin: 20px 0 0 20px;
  }
}
@media screen and (min-width: 1025px) {
  .p-imgList li {
    width: calc((100% - 40px) / 3);
  }
}
.p-imgList li:first-child {
  margin-top: 0;
}
@media screen and (min-width: 600px) {
  .p-imgList li:nth-child(-n+2) {
    margin-top: 0;
  }
}
@media screen and (min-width: 600px) {
  .p-imgList li:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media screen and (min-width: 1025px) {
  .p-imgList li:nth-child(2n+1) {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .p-imgList li:nth-child(-n+3) {
    margin-top: 0;
  }
}
@media screen and (min-width: 1025px) {
  .p-imgList li:nth-child(3n+1) {
    margin-left: 0;
  }
}
.p-imgList li img {
  width: 100%;
  vertical-align: bottom;
}

.p-keyVisual {
  height: 285px;
  width: 100%;
  min-width: 375px;
  background-image: url(../../img/keyVisual-sp.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .p-keyVisual {
    height: 530px;
  }
}
.p-keyVisual__title {
  color: #FFFFFF;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  position: absolute;
  left: 25px;
  font-size: 3.6rem;
  line-height: 1.5;
}
@media screen and (min-width: 1025px) {
  .p-keyVisual__title {
    font-size: 2.08vw;
  }
}

.p-list-ol {
  margin-top: 30px;
  margin-bottom: 60px;
  color: #3C2A10;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 1025px) {
  .p-list-ol {
    font-size: 0.83vw;
  }
}
.p-list-ol__first {
  margin-left: 20px;
  margin-bottom: 20px;
}
.p-list-ol__second {
  margin-left: 38px;
  margin-bottom: 20px;
}
.p-list-ol__third {
  margin-left: 20px;
}

.p-list {
  color: #3C2A10;
  font-family: "M PLUS 1p", sans-serif;
  margin-bottom: 30px;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 1025px) {
  .p-list {
    font-size: 0.83vw;
  }
}
.p-list__first {
  margin-bottom: 20px;
}
.p-list__second {
  margin-bottom: 20px;
  margin-left: 38px;
}

.p-pageKv {
  height: 225px;
  width: 100%;
  min-width: 375px;
  background-image: url(../../img/shop-sp.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-pageKv {
    height: 500px;
    background-image: url(../../img/shop-tab.jpg);
  }
}
@media screen and (min-width: 1025px) {
  .p-pageKv {
    background-image: url(../../img/shop-pc.jpg);
  }
}
.p-pageKv__title {
  color: #FFFFFF;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  position: absolute;
  left: 25px;
  font-size: 3.6rem;
  line-height: 1.5;
}
@media screen and (min-width: 600px) {
  .p-pageKv__title {
    font-size: 6rem;
    line-height: 1.4666666667;
  }
}
@media screen and (min-width: 1025px) {
  .p-pageKv__title {
    font-size: 3.125vw;
  }
}

.p-pagination {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-pagination {
    font-family: "Roboto", sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .p-pagination {
    margin-left: 100px;
    margin-right: 100px;
  }
}
.p-pagination__number {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-pagination__number {
    display: inherit;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #707070;
    margin-right: 10px;
  }
}
.p-pagination__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}
@media screen and (min-width: 600px) {
  .p-pagination__list {
    justify-content: center;
  }
}
.p-pagination__list-item {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-pagination__list-item {
    font-weight: bold;
    display: inline-block;
    border: solid 0.1px #707070;
    background-color: #FFFFFF;
    width: 35px;
    height: 35px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    text-align: center;
    text-decoration: none;
  }
  .p-pagination__list-item a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1px;
    text-decoration: none;
    color: #707070;
  }
}
.p-pagination__list-item.active {
  background-color: #3C2B1C;
  pointer-events: none;
  color: #FFFFFF;
}
@media screen and (min-width: 600px) {
  .p-pagination__list-item--prev, .p-pagination__list-item--next {
    font-size: 0;
  }
}
.p-pagination__list-item--prev a, .p-pagination__list-item--next a {
  text-decoration: none;
  color: #707070;
}
.p-pagination__list-item--prev a::before {
  content: "";
  background: url(../../../img/icon-prev.png) no-repeat center center/auto 100%;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 9px;
}
.p-pagination__list-item--next a::after {
  content: "";
  background: url(../../../img/icon-next.png) no-repeat center center/auto 100%;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 9px;
}

@media screen and (min-width: 600px) {
  .p-service {
    display: flex;
    justify-content: space-between;
  }
}
.p-service__menu {
  justify-content: flex-end;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0 0 0;
  width: 100%;
  min-height: 642px;
}
@media screen and (min-width: 600px) {
  .p-service__menu {
    min-height: 681px;
    width: 50%;
    margin: 40px 0 0 40px;
  }
}
@media screen and (min-width: 1025px) {
  .p-service__menu {
    min-height: 1193px;
    width: 50%;
    margin: 120px 0 0 134px;
  }
}
.p-service__menu--takeout {
  background-image: url(../../../img/takeout-pc.jpg);
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 600px) {
  .p-service__menu--takeout {
    margin-right: 40px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1025px) {
  .p-service__menu--takeout {
    margin-right: 80px;
  }
}
.p-service__menu--eatin {
  background-image: url(../../../img/eatin-pc.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.p-service__inner {
  width: 100%;
  min-height: 642px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
@media screen and (min-width: 600px) {
  .p-service__inner {
    min-height: 100%;
    width: 42.8vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-service__inner {
    width: 32.5vw;
  }
}
.p-service__top {
  display: block;
  color: #EAEAEA;
  font-weight: bold;
  padding-top: 12px;
  padding-left: 11px;
  font-size: 4.1rem;
  line-height: 1.3170731707;
}
@media screen and (min-width: 600px) {
  .p-service__top {
    font-size: 4.4rem;
    line-height: 1.3181818182;
    padding-top: 13px;
    padding-left: 12px;
  }
}
@media screen and (min-width: 1025px) {
  .p-service__top {
    font-size: 4.1vw;
    padding-top: 22px;
    padding-left: 20px;
  }
}
.p-service__top::after {
  content: "";
  display: block;
  width: 33.89px;
  height: 4px;
  margin-top: 19.3px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 600px) {
  .p-service__top::after {
    width: 36px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .p-service__top::after {
    width: 63px;
    margin-top: 32px;
  }
}
@media screen and (min-width: 600px) {
  .p-service__bottom {
    padding-top: 46%;
  }
}
@media screen and (min-width: 1025px) {
  .p-service__bottom {
    padding-top: 67.5%;
  }
}
.p-service__box {
  width: auto;
  min-height: 163px;
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  color: #3C2A10;
  margin: 0 10px 10px 10px;
}
@media screen and (min-width: 600px) {
  .p-service__box {
    min-height: 172px;
  }
}
@media screen and (min-width: 1025px) {
  .p-service__box {
    min-height: 174px;
    margin: 0 20px 20px 20px;
  }
}
.p-service__title {
  font-size: 2.2rem;
  line-height: 1.5;
  padding-top: 19px;
  padding-left: 10px;
  padding-bottom: 19px;
}
@media screen and (min-width: 600px) {
  .p-service__title {
    font-size: 2.4rem;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 11px;
  }
}
@media screen and (min-width: 1025px) {
  .p-service__title {
    padding-top: 17px;
    padding-bottom: 26px;
    padding-left: 10px;
  }
}
.p-service__text {
  font-size: 1.6rem;
  line-height: 1.4375;
  font-weight: normal;
  padding: 0 14px 23px 10px;
}
@media screen and (min-width: 600px) {
  .p-service__text {
    padding: 0 15px 22px 11px;
  }
}
@media screen and (min-width: 1025px) {
  .p-service__text {
    padding: 0 25px 0 19px;
  }
}

.p-sidebar {
  position: fixed;
  top: 0;
  right: -120%;
  z-index: 9999;
  transition: all 0.3s;
  overflow: auto;
  width: 328px;
  height: 100vh;
  padding-top: 212px;
  padding-left: 46px;
  padding-bottom: 100%;
}
.p-sidebar.active {
  right: 0;
  position: absolute;
}
@media screen and (min-width: 600px) {
  .p-sidebar {
    width: 367px;
  }
}
@media screen and (min-width: 1025px) {
  .p-sidebar {
    display: block;
    width: auto;
    height: auto;
    position: inherit;
    transition: inherit;
    overflow: inherit;
    z-index: inherit;
    padding-top: 0;
  }
}
.p-sidebar__menu {
  display: none;
}
@media screen and (min-width: 1025px) {
  .p-sidebar__menu {
    display: block;
    margin-top: 82px;
    margin-bottom: 85px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.7vw;
  }
}
.p-sidebar__unit {
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  margin-bottom: 40px;
  font-size: 2.4rem;
  line-height: 1.5;
}
@media screen and (min-width: 1025px) {
  .p-sidebar__unit {
    font-size: 1.25vw;
  }
}
.p-sidebar__list {
  list-style: none;
  font-weight: normal;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 2rem;
  line-height: 1.45;
}
@media screen and (min-width: 1025px) {
  .p-sidebar__list {
    font-size: 1.04vw;
  }
}
.p-sidebar li {
  margin-left: 20px;
  margin-bottom: 23px;
}
.p-sidebar li:last-child {
  margin-bottom: 40px;
}

.p-single-desc {
  color: #3C2A10;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-single-desc {
    margin-bottom: 60px;
  }
}
.p-single-desc__title {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 2.8rem;
  line-height: 1.5;
}
@media screen and (min-width: 600px) {
  .p-single-desc__title {
    margin-bottom: 3.125vw;
    margin-top: 0;
    font-size: 3.6rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1025px) {
  .p-single-desc__title {
    font-size: 1.875vw;
  }
}
.p-single-desc__text {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 1025px) {
  .p-single-desc__text {
    font-size: 0.83vw;
  }
}

.p-single-heading__h3 {
  color: #3C2A10;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 2.4rem;
  line-height: 1.5;
}
@media screen and (min-width: 600px) {
  .p-single-heading__h3 {
    margin-bottom: 60px;
    font-size: 2.8rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1025px) {
  .p-single-heading__h3 {
    margin-bottom: 3.125vw;
    font-size: 1.458vw;
  }
}
.p-single-heading__h4 {
  color: #3C2A10;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 1.45;
}
@media screen and (min-width: 600px) {
  .p-single-heading__h4 {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .p-single-heading__h4 {
    margin-bottom: 3.125vw;
    font-size: 1.041vw;
  }
}
.p-single-heading__h5 {
  color: #3C2A10;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 1.45;
}
@media screen and (min-width: 600px) {
  .p-single-heading__h5 {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .p-single-heading__h5 {
    margin-bottom: 3.125vw;
    font-size: 1.041vw;
  }
}
.p-single-heading__h6 {
  color: #3C2A10;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 1.45;
}
@media screen and (min-width: 600px) {
  .p-single-heading__h6 {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .p-single-heading__h6 {
    margin-bottom: 3.125vw;
    font-size: 1.041vw;
  }
}

.p-singleKv {
  height: 225px;
  width: 100%;
  min-width: 375px;
  background-image: url(../../img/singleKv-sp.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-singleKv {
    height: 500px;
    background-image: url(../../img/singleKv-tab.jpg);
  }
}
@media screen and (min-width: 1025px) {
  .p-singleKv {
    background-image: url(../../img/singleKv-pc.jpg);
  }
}
.p-singleKv__title {
  color: #FFFFFF;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  position: absolute;
  left: 25px;
  font-size: 3.6rem;
  line-height: 1.5;
}
@media screen and (min-width: 600px) {
  .p-singleKv__title {
    font-size: 6rem;
    line-height: 1.4666666667;
  }
}
@media screen and (min-width: 1025px) {
  .p-singleKv__title {
    font-size: 3.125vw;
  }
}

.p-table {
  border: solid 1px #707070;
  border-collapse: collapse;
  background-color: #FFFFFF;
  width: 100%;
  margin-bottom: 30px;
  color: #3C2A10;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 600px) {
  .p-table {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .p-table {
    font-size: 0.83vw;
  }
}
.p-table tr {
  border: solid 1px #707070;
  border-collapse: collapse;
}
.p-table td {
  border: solid 1px #707070;
  border-collapse: collapse;
}
.p-table__td--first {
  width: 40%;
  padding: 28px 0px 27px 30px;
}
@media screen and (min-width: 600px) {
  .p-table__td--first {
    width: 30%;
  }
}
.p-table__td--second {
  padding: 28px 0px 27px 30px;
}

/*================================
	Foundation
=================================*/
/*================================
	Layout
=================================*/
/*================================
	Object
=================================*/
/*================================
	Component
=================================*/
/*================================
	Project
=================================*/
/*================================
	Utility
=================================*/

/*# sourceMappingURL=style.css.map */
