@use "../../Foundation/mixin"as m;

.c-container {
  padding: 20px;
  @include m.mq(tab) {
    padding: 40px;
  }
  @include m.mq(pc) {
    padding: 80px;
  }

  &--more {
    padding: 30px 20px 20px 20px;
    @include m.mq(tab) {
      padding: 60px;
    }
    @include m.mq(pc) {
      padding: 3.125vw 5.2vw 5.2vw 5.2vw;
    }
  }
}

// .c-container {
//   width: calc(100% - 40px);
//   margin: 0 auto;

//   @include m.mq(tab) {
//     width: calc(100% - 80px);
//   }

//   @include m.mq(pc) {
//     width: calc(100% - 220px);
//   }
//   // > *:last-child {
//   //   margin-bottom: 0;
//   // }
// }
