@use "../../Foundation/variable" as v;

.c-form {
  &__input {
    border: 1px solid v.$font-color--gray;  /* 枠線 */
    border-radius: 10px;  /* 角丸 */
  }
  &__button {
    border: 1px solid v.$font-color--gray;  /* 枠線 */
    border-radius: 10px;  /* 角丸 */
  }
}
