@use "../../foundation/variable" as v;

.c-title {
  &__main {
    font-family: v.$font-Roboto;
    font-size: 2.5rem;
    font-weight: bold;
    color: v.$font-color--gray;
    }
  &__sub {
    font-family: v.$font-Roboto;
    font-size: 1.25rem;
    font-weight: bold;
    color: v.$font-color--gray;
  }
}
