@use "../../Foundation/mixin" as m;
@use "../../Foundation/color" as c;
@use "../../Foundation/font" as f;


.p-blockquote {
  background-color: #F5F5F5;
  padding: 30px 16px 30px 20px;
  margin-bottom: 30px;
  @include m.mq(tab) {
    padding: 50px 56px 60px 50px;
    margin-bottom: 60px;
  }
  @include m.mq(pc) {
    padding: 2.6vw 3.125vw 2.6vw 2.6vw;
    margin-bottom: 3.125vw;
  }

  &__text {
    font-family: f.$font-M1;
    color: c.$c-primary;
    margin-bottom: 30px;
    @include f.fsz(16,23);
    @include m.mq(pc) {
      margin-bottom: 3.125vw;
      font-size: 0.83vw;
    }
  }

  &__cite {
    font-family: f.$font-M1;
    color: c.$c-primary;
    @include f.fsz(16,23);
    @include m.mq(pc) {
      font-size: 0.83vw;
    }
  }

  &__cite > a {
    color: #4A6C9B;
    text-decoration: underline;
  }
}
