@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.p-header {
  width: 100%;
  background-color: v.$bg-color--header;
  display: flex;
  align-items: center;
  @include m.media(pc) {
    display: flex;
    justify-content:space-between;
  }
}
