@use "../../Foundation/mixin" as m;
@use "../../Foundation/color" as c;
@use "../../Foundation/font" as f;

.p-pageKv {
  height: 225px;
  width: 100%;
  min-width: 375px;
  background-image: url(../../img/shop-sp.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  @include m.mq(tab) {
    height: 500px;
    background-image: url(../../img/shop-tab.jpg);
  }
  @include m.mq(pc) {
    background-image: url(../../img/shop-pc.jpg);
  }

  &__title {
    color: c.$c-accent;
    font-family: f.$font-M1;
    font-weight: bold;
    position: absolute;
    left: 25px;
    @include f.fsz(36, 54);
    @include m.mq(tab) {
      @include f.fsz(60,88);
    }
    @include m.mq(pc) {
      font-size: 3.125vw;
    }
  }
}
