@use "../Foundation/mixin" as m;
@use "../Foundation/color" as c;
@use "../Foundation/font" as f;

.l-main__wrapper {
  width: 100%;
  background-color: c.$c-main;

  @include m.mq(pc) {
    grid-column: 1/2;
  }
}
