@use "../Foundation/mixin" as m;
@use "../Foundation/color" as c;
@use "../Foundation/font" as f;

.l-sidebar {
  background-color: c.$c-secondary;
  color: c.$c-base;

  @include m.mq(pc) {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
